/* variables start */

$red-100: rgba(237,43,43,1);
$red-90: rgba(237,43,43,.9);
$red-70: rgba(237,43,43,.7);
$red-50: rgba(237,43,43,.5); 
$red-10: rgba(237,43,43,.1);

$red-dark: rgba(207,15,19,1);

$red-bg: rgba(170,0,0,1);

$turquoise-100: rgba(84,206,209,1);
$turquoise-dark: rgba(77,190,193,1);

$black-100: rgba(0,1,5,1);
$black-60: rgba(0,1,5,.6);
$black-50: rgba(0,1,5,.5);
$black-40: rgba(0,1,5,.4);
$black-30: rgba(0,1,5,.3);
$black-20: rgba(0,1,5,.2);
$black-15: rgba(0,1,5,.15);
$black-10: rgba(0,1,5,.1);
$black-05: rgba(0,1,5,.05);
$black-07: rgba(0,1,5,.07);
$black-00: rgba(0,1,5,0);

/* variables end */

/* General rules start */

body {
  font-family: 'Poppins';
  font-weight: 300;
  color: $black-100;
  position: relative;
  z-index: -100;
}

code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #1193cf;
  color: #666;
  page-break-inside: avoid;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.text-primary {
  color: $red-100 !important;
}
.text-cta{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.text-dark {
  color: $black-100 !important;
}
.text-light a,
.text-light a:hover{
  color: #fff;
  text-decoration: underline;
}
.text-big{
  font-size: 1.2rem;
}
.text-huge{
  font-size: 5rem;
  font-family: 'Bauziet Norm';
  line-height: 5rem;
}

.email-para.text-light a{
color:#fff;
text-decoration: none;
}
.email-para.text-light a:hover{
text-decoration: underline;
}
.email-para{
padding-left: 2rem;
background-image: url("/assets/img/icon-email.svg");
background-repeat: no-repeat;
}
.location-para{
padding-left: 2rem;
background-image: url("/assets/img/icon-location.svg");
background-repeat: no-repeat;
}
.email-para.text-light{
background-image: url("/assets/img/icon-email-white.svg");
}
.location-para.text-light{
background-image: url("/assets/img/icon-location-white.svg");
}
li{
  margin-bottom: .8rem;
}
li.breadcrumb-item,
li.nav-item{
  margin-bottom: 0;
}
li::marker{
  color: $red-100;
  font-weight: 400;
}
ol, ul {
    padding-left: 0.8rem;
}

.section-article ol, .section-article ul {
    padding-left: 1rem;
}
@media not all and (min-resolution:.001dpcm) {
     @supports (-webkit-appearance:none) {
       .section-article ol, .section-article ul {
           padding-left: 1.2rem;
       }
     }
}
@media (min-width: 992px){
.img-right-wrapper{
  text-align: right;
}
}
img{
  max-width: 100%;
}
img.full-image{
     float: none;
     width: 100%;
     margin: 30px 0;
}

img.inline-image{
     float: left;
     width: 40%;
     margin: 8px 35px 20px 0;
}
@media (max-width: 767px){
img.inline-image{
     float: none;
     width: 100%;
     margin: 20px 0 20px 0;
}
}
p.caption{
  padding: 1rem 0;
  font-size: .8rem;
  text-align: center !important;
}
p.caption-big{
  padding: 1.5rem 0;
  font-size: 1rem;
}
a.text-dark:hover {
  color: $red-100 !important;
}

.border-light-gray{
  border: 1px solid $black-10 ;
}

.bg-gradient-gray {
  background-image: linear-gradient(180deg, $black-05 0%, $black-00 50%);
}
.bg-gradient-gray-bottom {
  background-image: linear-gradient(180deg, $black-00 0%, $black-05 50%);
}
.bg-gray{
  background-color: $black-05 !important;
}
.title-underline{
margin: 1.5rem auto;
width: 40px;
height: 4px;
background-color: $red-100;
}

.pagination {
    justify-content: center;
    margin-top: 30px;
}

.pagination .page-link{
  border: none;
  width: 30px;
    height: 30px;
  border-radius: 50px !important;
  color:  $black-100;
  padding: .15rem 0 0 0;
}
.pagination .page-item {
text-align: center;
padding: 5px;
}
.pagination .page-item.active .page-link {
    background-color:  $red-100;
}

@media (min-width: 1400px) {
  .container.section.bg-primary {
    max-width: calc(1320px - 1.5rem);
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container.section.bg-primary {
    max-width: calc(1140px - 1.5rem);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container.section.bg-primary {
    max-width: calc(960px - 1.5rem);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container.section.bg-primary {
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container.section.bg-primary {
    max-width: 100%;
  }
}

.row-col-side {
  margin: 3rem 0;
}

@media (max-width: 991px) {
  .row-col-side {
    margin: 0 2.5rem;
  }
}

.row-col-side div {
  padding: 0 3.5rem;
}

@media (max-width: 991px) {
  .row-col-side div {
    padding: 3rem 0 3rem 0;
  }
}

.row-col-side div:not(:first-child) {
  border-left: 1px solid $red-100;
}

@media (max-width: 991px) {
  .row-col-side div:not(:first-child) {
    border-top: 1px solid $red-100;
    border-left: none;
  }
}

.row.row-col-feature {
  max-width: 1210px;
  margin: 0 auto;
}

.row.row-col-feature .btn {
  font-size: .9rem;
}
.row.row-col-feature img {
max-width: 100%;
margin: -0.5rem auto .5rem auto;
}
.row.row-col-feature > div {
  padding: 1.5rem;
}

.row.row-col-feature > div > div.shadow {
  padding: 3rem 2.5rem;
  height: 100%;
  border-top: 8px solid $red-100;
}

.row.row-col-feature.row-col-feature-logo > div > div.shadow,
.row.row-col-feature.row-col-price > div > div.shadow {
  border-top: none;
}

.row.row-col-feature.row-col-price > div > div.shadow {
padding: 3rem 0 2rem 0;
position: relative;
}
.row-col-price .price-name {
padding: 0 2.5rem 0 2.5rem;
}
.row-col-price .price-name img.price-plus{
  margin: -17px 0 0 -15px;
    position: absolute;
}
@media (min-width: 992px){
.row-col-price .price-name {
min-height: 15.5rem;
}
}

@media (max-width: 991px){
.row-col-price .price-name img.price-plus{
  margin: -16px 0 0 -15px;
}
}
.row-col-price .price-name p.price-label{
font-size: 1.5rem;
line-height: 1.5rem;
margin-bottom: 2rem;
font-family: "Bauziet Norm";
color: $red-100;
}
.row-col-price .price-box {
padding: 1.5rem 0 .5rem 0;
margin: 1rem 2rem;
background-color: $red-10;
}
.row-col-price .price-box p {
color: $black-100;
}
.row-col-price .price-box p.price-label {
color: #fff;
font-size: 1rem;
font-family: "Bauziet Norm";
margin: 0 2rem 1rem 2rem;
padding: 0.5rem 0;
background-color: $red-100;
}

.row-col-price .price-suggestion p {
color: $black-100;
font-weight: 500;
}

.row.row-col-feature.row-col-feature-steps img.step-icon {
  display: block;
    background-color: #fff;
    margin-top: -98px;
    margin-bottom: 1.4rem;
    box-shadow: 0 0 2rem $black-10;
    border-radius: 50%;
}
@media (max-width: 991px){
.row.row-col-feature.row-col-feature-steps > div {
    padding: 1.5rem 1.5rem 4rem 1.5rem;
}
.row.row-col-feature.row-col-feature-steps > div:last-child {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
}
.logo-wrapper.logo-wrapper-2,
.logo-wrapper.logo-wrapper-3 {
margin-bottom: 0;
margin-top: 0;
}
.logo-wrapper.logo-wrapper-2 img {
    width: 46%;
    margin: 2%;
}
.logo-wrapper.logo-wrapper-3 img {
    width: 29.3%;
    margin: 2%;
}
.row.row-col-feature.row-col-feature-steps h3  {
padding-left: 45px;
margin-bottom: 1.6rem;
}
.row.row-col-feature.row-col-feature-steps h3 span {
  display: block;
    background-color: $black-05;
    color:$red-100 !important;
    padding: 3px 0 0 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    float: left;
    margin-left: -45px;
    margin-top: -3px;
}

.row.row-col-feature.row-col-activities > div > div.shadow {
  border-top: none;
  padding: 0 0 2.5rem 0;
}

.row.row-col-feature.row-col-activities > div > div.shadow > *:not(.btn-light) {
  border-top: none;
  padding: 0 3rem;
}


.row.row-col-feature.row-col-activities > div > div.shadow > .activities-image-wrapper {
  padding: 0;
}

.row-col-activities .activities-image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 8;
  overflow: hidden;
  margin-bottom: 30px;
}
.notes{
    padding: 2rem 0 0 0;
    border-top: 1px solid $red-100;
}
.notes *{
text-align: left;
}
.notes p, .notes li{
font-size: .7rem;
color: $black-60;
}
.row-col-activities img {
  width: 100%;
}

p, li {
  color: $black-60;
}

a {
  color: $red-100;
  text-decoration: none;
}

a:hover {
  color: $red-dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bauziet Norm';
  font-style: normal;
  margin-top: .5rem;
  margin-bottom: .8rem;
}
h2.section-heading{
text-align: center;
margin-bottom: 2.5rem;
}
.section-article h2{
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
}
.section-article h3{
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.section-article h4{
  font-size: 1rem;
  line-height: 1.6rem;
}
p.subtitle{
  margin-bottom: 2.5rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.seperator-primary{
margin: 1.5rem 0;
height: 1px;
border-bottom: 1px solid $red-100;
}
.seperator-gray{
margin: 1.5rem 0;
height: 1px;
border-bottom: 1px solid $black-15;
}
.title-seperation{
  padding-top: 4rem;
  margin-top: 5rem;
  border-top: 2px solid $red-100;
}
.title-seperation-2{
  padding-top: 2.5rem;
  margin-top: 2.8rem;
  border-top: 2px solid $red-100;
}
.h3, h3 {
  font-size: calc(1rem + .4vw) !important;
}
.h4, h4 {
  font-size: calc(1rem + .2vw) !important;
}

.shadow {
  box-shadow: 0 0 2rem $black-10!important;
  background-color: #fff;
  transition: box-shadow .15s ease-in-out;
}

.shadow:hover {
  box-shadow: 0 0 4rem $black-20!important;
  background-color: #ffffff;
}

input, .form-control {
  border-radius: 0;
  border: 1px solid $black-15;
  font-size: .9rem;
  font-weight: 300;
  padding: 0.4rem 0.8rem;
  margin: 8px 16px;
}


.check-input {
  margin: .5rem 0;
}

.check-input .form-label {
    margin-bottom: 0;
    display: block;
    width: 100%;
    padding-left: 40px;
    margin-top: -26px;
}
@media (max-width: 767px) {
.check-input input[type="checkbox"] {
  width: auto !important;
}

.check-input .form-label {
    padding-left: 30px;

}
}



.form-label-text-along{
    padding: 1rem 1rem .5rem 1rem;
}
.form-check .form-check-input {
    margin-left: 0;
    border-radius: 0;
    border: 1px solid rgba(0, 1, 5, 0.15)
}


.input-group-submit .input-group-text {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 9px;
  border: none;
}

@media (max-width: 575px) {
  .input-group-submit .input-group-text {
    position: relative;
  }
}

.input-group-text img {
  padding-left: 10px;
}

.img-wrapper{
  padding-top: 2rem;
}

.input-group-submit .input-group-text p {
  color: $black-100;
  font-size: .9rem;
}

form h2, form h3 {
  font-size: 1.4rem;
  margin: 12px 16px 16px 16px;
}

form {
  padding: 2rem;
}


.btn[type="submit"] {
  margin: 16px 16px;
}

@media (max-width: 767px){
  input, .form-control,
  .input-group>.form-control, {
      padding: 0.4rem 0.8rem;
      margin: 10px 0 !important;
      width: 100%;
  }
  form .input-group{
display: block;
  }
  form h2, form h3 {
    font-size: 1.4rem;
    margin: 12px 0px 16px 0px;
}
.btn[type=submit] {
    margin: 16px 0;
}
.input-group-text {
    padding: 0.375rem 0;
}
}

@media (max-width: 575px) {
  .btn[type="submit"] {
    width: 100%;
  }
}

.btn {
  font-weight: 400;
  line-height: 1.5;
  padding: .35rem 1rem;
  font-size: 1rem;
  border-radius: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: none;
}

.btn.btn-primary {
  background-color: $red-100;
  border: none;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
  background-color: $red-dark;
}

.btn.btn-light {
  background-color: #ffffff;
  border: 1px solid $red-100;
}
.btn-noborder{
  border: none !important;
}

.btn.btn-light:focus, .btn.btn-light:hover {
  background-color: $red-100;
  color: #fff;
}

.btn.btn-secondary {
  background-color: $turquoise-100;
  border: none;
}

.btn.btn-secondary:focus, .btn.btn-secondary:hover {
  background-color: $turquoise-dark;
  box-shadow: none;
}

.btn.btn-link {
  padding: .6rem 0;
  color: $black-100;
  text-decoration: none;
  border: none;
}

.btn.btn-link:hover {
  color: $red-100;
}

.btn.btn-link:after {
  content: url("/assets/img/icon-cta-arrow.svg");
  padding-left: 8px;
  transition: all 100ms linear, color 100ms linear, border 100ms linear !important;
}

.btn.btn-link:hover:after {
  padding-left: 12px;
}

.bg-primary {
  background-color: $red-bg !important;
}

.container.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.container.section.section-no-top-space {
   padding-top: 0;
 }
 .container.section.section-no-bottom-space {
    padding-bottom: 0;
  }
.container.section.container-box2 {
  padding: 3rem !important;
}
.container.section-limited-width{
  max-width: 1000px !important;
}
.container.section-article{
  max-width: 900px !important;
}
.container.section-article p{
  text-align: justify;
}
.container.section-primary-box{
  margin: 4rem auto;
  padding: 4rem;
}
.container.section-primary-box.section-primary-box2{
  margin: 0 auto;
  padding: 0;
}
.container.section-primary-box.section-primary-box2 .primary-box-title,
.container.section-primary-box.section-primary-box2 .primary-box-text{
  padding: 4rem;
}
.container.section-primary-box.section-primary-box2 .primary-box-text{
background-color: #fff;
border-left: none;
}
@media (max-width: 767px) {
.container.section-primary-box{
  margin: 0 auto;
}
.container.section-primary-box,
.container.section-primary-box.section-primary-box2 .primary-box-title,
.container.section-primary-box.section-primary-box2 .primary-box-text{
  padding: 3rem;
}
.container.section .simple-row{
  padding: 0 1.5rem;
}
}
@media (min-width: 992px) {
.primary-box-title{
  padding-right: 1.5rem;
}
.primary-box-text{
  padding-left: 2rem;
  border-left: 4px solid $red-100;
}
.primary-box-text p:last-child{
  margin-bottom: .5rem;
}
}


.section-straddle {
  padding-bottom: 8rem !important;
  margin-bottom: -6rem;
}

.section-straddle-top {
  padding-top: 10rem !important;
  margin-top: -10rem;
  position: relative;
  z-index: -1;
}

.video-frame {
  aspect-ratio: 16 / 9;
}

.logo-wrapper {
  margin: 30px 0;
  text-align: center;
}

.logo-wrapper img {
  width: 180px;
  margin: 5px;
  border: 1px solid $black-10;
  background-color: #fff;
}
@media (max-width: 767px) {
.logo-wrapper img {
  width: 45%;
  margin: 2.5%;
}
}

/* General rules end */

/* breadcrumb start*/
.breadcrumb-wrapper {
  margin-bottom: 0;
  margin-top: 0;
  padding: .8rem 0 0 0;
  border-bottom: 1px solid $black-10;
}

.breadcrumb .breadcrumb-item {
margin-bottom: 3px;
}
.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item a span,
.breadcrumb .breadcrumb-item span {
color: $black-100;
font-size: .8rem;
transition: all .15s ease-in-out;
}
.breadcrumb .breadcrumb-item:last-child a,
.breadcrumb .breadcrumb-item:last-child a span,
.breadcrumb .breadcrumb-item:last-child span
 {
color: $black-30;
}

.breadcrumb .breadcrumb-item a:hover span,
.breadcrumb .breadcrumb-item a:hover{
    color: $red-100;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: $red-100;
    content: ">";
        margin-top: 2px;
}
.sticky-top.breadcrumb-wrapper{
top:64px;
background-color: #fff;
min-height: 51px;
}
.anchor-nav{
  margin-top: -2.5rem;
  z-index: 100;
  background-color: #fff;
}
.anchor-nav .nav-item{
    padding: 0 15px;
}
.anchor-nav a{
    color: $black-100;
    padding: 0 0 12px 0;
    transition: all .15s ease-in-out;
    font-size: .8rem;
    font-weight: 400;
}

.anchor-nav .nav-tabs .nav-link
{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid transparent;
}
.anchor-nav a:hover{
    color: $red-100;
    border: none;
}
.nav-tabs .nav-link.active {
    color: $red-100;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid $red-100;
}
.anchor-position{
    height: 263px;
    margin-top: -263px;
    width: 1px;
}

.anchor-position-straddle{
    height: 14rem;
    margin-top: -20rem;
}
.anchor-nav .nav-tabs {
    border-bottom: none;
}
.anchor-nav .nav {
    align-items: center;
    justify-content: center;
}
.breadcrumb {
    margin-bottom: 0.7rem;
}
.sticky-top.breadcrumb-wrapper .breadcrumb {
    margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .sticky-top.breadcrumb-wrapper .breadcrumb {
    display: none;
  }
  .anchor-nav .nav-item{
      padding: 0 8px;
  }
  .anchor-nav {
    margin-top: 0;
}.anchor-nav a{
    font-size: .6rem;
    padding: 0 0 10px 0;
}
.sticky-top.breadcrumb-wrapper {
    top: 0;
    min-height: 45px;
    padding-top: 1rem;
}

}
/* breadcrumb end*/

/*clapse content start*/
.btn-collapse.collapsed .btn-collapse-close{
display: none;
}
.btn-collapse.collapsed .btn-collapse-ope {
display: inline;
}

.btn-collapse:not(.collapsed) .btn-collapse-close{
display: inline;
}

.btn-collapse:not(.collapsed) .btn-collapse-open{
display: none;
}

/*clapse content end*/

/* Header start */

img.logo {
  width: 160px;
  margin-right: 40px;
    transition: all .15s ease-in-out;
}
.fixed-top.header-active img.logo {
  width: 128px;
}


.full-height-follow{

margin-bottom: -8rem; padding-top : 5rem; margin-left: -3.5rem;

}

.full-height-image{
padding: 6rem;
}
.full-height-title{
padding: 3rem 3.5rem;
background-color: $red-100;
}
.full-height-text{
padding: 4rem;
}


@media (max-width: 1199px) {

  .full-height-image{
  padding: 3rem 3rem 7rem 3rem;
  }
  .full-height-title{
  padding: 2rem 2.5rem;
  }
  .full-height-follow {
    margin-bottom: -7rem;
    padding-top: 5rem;
    margin-left: -2.5rem;
  }
  .full-height-text{
  padding: 0rem;
  }
}


@media (max-width: 767px) {


  .form-label-text-along {
    padding: 0.5rem 0;
  }
  .full-height-image{
  padding: 3rem 3rem 7rem 3rem;
  }
  .full-height-title{
  padding: 2rem 2.5rem;
  }


  img.logo {
    width:128px;
  }
  .double-menu header.fixed-top{
    position: relative;
  }
  .double-menu .hero{
    padding-top: 3rem
  }
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-toggle{
    outline: none;
}
.dropdown-menu {
  padding: .8rem .4rem;
  border: none;
  box-shadow: 0 0 1rem $black-10;
  margin-bottom: .5rem;
}
.dropdown-menu .dropdown-item{
  font-size: .8rem;
  color: $black-100;
  font-weight: 300 !important;
  padding: .35rem .8rem
}
.dropdown-menu .dropdown-item:hover{
  background-color: $black-05;
  border-radius: 2px;
}

.dropdown-toggle::after {
  content: url("/assets/img/icon-dropdown-arrow.svg");
  border: none;
      vertical-align: -0.1rem;
}

@media (min-width: 576px) {
  .navbar .container-fluid {
    padding: 0;
  }
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler-icon {
  width: 22px;
}

.navbar-light .navbar-nav .nav-link {
  color: $black-100;
  font-size: .9rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: $red-100;
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/img/icon-menu-toggle.svg");
}

input[type="search"] {
  background-image: url("/assets/img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center right;
  border: none;
  padding-right: 1.6rem;
}

header .btn {
  position: absolute;
  right: 0;
}

@media (max-width: 991px) {
  header .btn {
    position: relative;
    right: auto;
    left: 0;
    display: block;
    margin: 10px 0 20px 0;
  }
}

header input[type="search"] {
  right: 110px;
  margin: 0;
  position: absolute;
  background-color: transparent;
  width: 180px;
}

@media (max-width: 991px) {
  header input[type="search"] {
    right: auto;
    position: relative;
    border: 1px solid $black-15;
    width: 100%;
  }
}

header #results-container {
   position: absolute;
   right: 101px;
   width: 178px;
   top: 4rem;

}
@media (max-width:991px) {
header #results-container {
   position: relative;
   right: auto;
   width: 100%;
   top: 10px;
}
}
#results-container ul{
  padding: 0.8rem 1rem 0.8em 1.7rem;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 1rem $black-10;
}
#results-container ul:empty{
display: none;
}
#results-container li{
    list-style: square;
    line-height: 1rem;
    font-size: .7rem;
    padding: 0.1rem 0;
    color: $red-100;
}
#results-container li a{
    color: $black-100;
}
#results-container li a:hover{
    color: $black-60;
}

@media (max-width: 991px) {
  .navbar-collapse {
    padding: 20px 0 40px 0;
  }
}

header.fixed-top {
  transition: 0.15s ease-in-out;
}

header.header-active {
  background-color: #fff;
  box-shadow: 5px -1px 16px -5px $black-20;
}

@media (max-width: 991px) {
  header {
    background-color: #fff;
    box-shadow: 5px -1px 16px -5px $black-20;
  }
}

/* Header end */

/* Footer start */

@media (max-width: 575px) {
  footer {
    padding: 3rem 1.5rem !important;
  }
}

.footer-cta {
  padding: 5rem 0;
  background-image: url("/assets/img/bg-wave-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-cta .container {
  width: 1160px;
  max-width: 90%;
}

.cta-title {
  padding: 0;
}

.cta-wrapper {
  background-color: #fff;
  padding: 2.5rem;
  display: flex;
}

@media (max-width: 767px) {
  .cta-wrapper {
    display: block;
  }
}

@media (max-width: 991px) {
  .cta-wrapper {
    margin-top: 30px;
  }
}

.cta-wrapper .btn {
  flex: 1;
  margin: .5rem;
}

@media (max-width: 767px) {
  .cta-wrapper .btn {
    display: block;
  }
}

.footer-cta h2, .footer-cta h3 {
  padding: 0 3rem;
  border-left: 8px solid $red-100;
}

footer {
  padding: 3rem 0 2rem 0;
  background-color: $black-05;
}

.disclaimer {
  font-size: .8rem;
  color: $black-50;
}


@media (min-width: 992px) {
  .social-follow p {
    text-align: right;
  }
}

.social-follow img {
  margin-left: 15px;
}

.social-share  {
  margin-top: 30px;
}
.social-share a img {
  margin-left: 15px;
}
.social-share a:first-child img {
  margin-left: 0;
}

/* Footer end */

/* Hero start */

.hero {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.hero.hero-narrow {
  padding-top: 9rem;
  padding-bottom: 4rem;
}
@media (max-width: 991px) {
  .hero.hero-narrow {
    padding-top: 0rem;
  }
  .hero.hero-narrow .hero-text{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    margin: 0 5% 0 5%;
  }
}

.hero-text {
  padding-bottom: 3rem;
}

@media (max-width: 991px) {
  .hero-text {
    padding: 1.5rem 3rem 3rem 3rem;
  }
}

@media (min-width: 1200px) {
  .hero-text {
    padding-left: 4rem;
  }
}

.hero-straddle {
  padding-bottom: 20rem;
  margin-bottom: -16rem;
}

/* Hero end */

/* Activities start */

.activities-type {
  font-weight: 400;
  color: $red-100;
  margin-bottom: 0.2rem;
}

.activities-title {
  color: $black-100;
  font-weight: 400;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  a {
    color: $black-100;
    &:hover {
      color: #ed2b2b;
    }
  };
}

.activities-date {
  color: $black-40;
  font-size: .9rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.blog-date{
  color: $black-40;
  font-size: .9rem;
  font-weight: 400;
  margin: 3rem 0 .6rem 0;
}

.blog-author{
  margin: .9rem 3rem 1.8rem 3rem;
  padding: 0 0 1rem 0 !important;
  font-size: .9rem;
  font-weight: 400;
    border-bottom: 1px solid $black-10;
}
.blog_sharing a span {
    display: none;
}
.blog_sharing a  {
margin-right: 10px;
}
.blog_sharing a.share_facebook:before {
    content: url("/assets/img/icon-Facebook-share.svg");
}
.blog_sharing a.share_twitter:before {
    content: url("/assets/img/icon-Twitter-share-2.svg");
}
.blog_sharing a.share_pinterest:before {
    content: url("/assets/img/icon-Pinterest-share.svg");
}
.blog_sharing a.share_google:before {
    content: url("/assets/img/icon-Google-share.svg");
}
.blog_sharing a.share_linkedin:before {
    content: url("/assets/img/icon-Linkedin-share-2.svg");
}
.blog_sharing a.share_email:before {
    content: url("/assets/img/icon-Email-share.svg");
}
.comments{
  margin-top: 3rem;
}

.app-sector {
  margin: 0.75rem 0.25rem 0 0.25rem;
  font-size: .7rem;
  padding: 8px 15px;
  background-color: $black-05;
  border-radius: 6px;
  color: $black-60;
  transition: all .15s ease-in-out;
  display: inline-block;
}

.tag {
  margin-top: 2rem;
}
.tag a{
  font-size: .7rem;
  padding: 8px 15px;
  background-color: $black-05;
  border-radius: 6px;
  margin-right: 10px;
  color: $black-60;
  transition: all .15s ease-in-out;
	display: inline-block;
	margin-bottom: 10px;
}

.tag a:hover{
background-color: $black-10;
color: $black-100;
}

.tag a.selected-tag{
background-color: $red-100;
color: white;
}

.tag a.selected-tag:hover{
background-color: $red-100;
color: white;
}
.flex-icons{
display: flex;
}

.flex-icons > a{
flex:1;
padding: 4rem 1rem 2rem 1rem;
transition: all .15s ease-in-out;
}

.flex-icons > a:hover{
background-color: $red-100;
}

.flex-icons > a.selected{
background-color: $red-100;
}

.flex-icons > a{
text-decoration: none;
}
.activities-description {
  color: $black-60;
  font-size: .9rem;
}

/* Activities end */

/* Carousel start */

.carousel.slide {
  max-width: 1200px;
  margin: 2rem auto 0 auto;
}

@media (min-width: 768px) {
  .carousel-inner {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .carousel-inner {
    width: 90%;
    margin: 0 auto;
  }
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  transition: all .15s ease-in-out;
}

@media (max-width: 767px) {
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}

.carousel-control-prev:hover {
  margin-left: -10px;
}

.carousel-control-next:hover {
  margin-right: -10px;
}

.carousel-control-prev-icon {
  background-image: url("/assets/img/icon-prev.svg");
}

.carousel-control-next-icon {
  background-image: url("/assets/img/icon-next.svg");
}

.testimonial-author {
  font-size: 1.2rem;
  color: $black-100;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 2rem;
}

.testimonial-jobtitle {
  font-size: 1.2rem;
  color: $black-100;
  margin-bottom: 0;
}

.testimonial-logo {
  max-height: 60px;
}

/* Carousel end */
