<h2>About Cybus</h2>

<p>The software company Cybus enables industrial manufacturers to efficiently connect and automate their production. Its software “Cybus Connectware” leverages real-time data from the production environment irrespective of its vendors or applications. As a result, factories achieve sustainable competitive advantages such as increased efficiency and quality of the production processes. At the same time, the integrated security solution of the cloud-independent software maintains absolute data sovereignty. Cybus Connectware is used as the central infrastructure component of the Smart Factory architecture by European medium-sized businesses up to the automotive industry.</p>

<p>For more information, please visit <a href="https://www.cybus.io">cybus.io</a></p>
