<h2>About Securaxis</h2>

<p>Securaxis was founded in 2015 in Geneva with the mission to protect the health and well-being of people and communities from the impact of noise pollution. Securaxis’ smart cities technology can help to improve urban soundscapes.</p>

<p>For the past 4 years we built a strong team of acousticians, developers, data scientists to develop a first-of-its-kind smart acoustic sensing solution for detection, recognition, localization and reporting of sound in any kind of environment. And we thought about saving more lives by adressing smart cities challenges to create more sustainable urban environments while protecting citizens’ privacy.</p>

<p>For more information, please visit <a href="securaxis.com">securaxis.com</a></p>
