<h2>About Clearblade</h2>

<p>ClearBlade is the industry-leading Edge Computing software company that enables enterprises to rapidly engineer and run secure, real-time, scalable IoT applications. Headquartered in Austin, Texas, ClearBlade is an award-winning, fully scalable, secure, flexible, and autonomous IoT edge platform that enables companies to ingest, analyse, adapt and act on any data in real-time and at extreme scale. ClearBlade provides a consistent platform across the edge, cloud, and on-premise environments.<p>

<p>For more information, please visit <a href="https://www.clearblade.com">clearblade.com</a></p>
