<h2>About SixSq</h2>

<p>SixSq is a leader in edge computing B2B SaaS. The team is based in Geneva, Switzerland, and embraces the Swiss ideals of excellence, innovation and precision. Nuvla, the company’s edge-to-cloud B2B management platform and marketplace, allows customers to deploy a secure and comprehensive edge and cloud strategy, while avoiding lock-in. The NuvlaEdge software turns any x86 or ARM hardware platform into a smart edge device connected to Nuvla to deploy applications in a range of sectors. The result is a secure edge-to-cloud solution that is application centric, hardware agnostic, cloud neutral and container native.
<br>
SixSq is part of the Ekinops Group, a leading network equipment and solutions provider.</p>

<p>For more information, visit: <a href="https://sixsq.com">sixsq.com</a>.</p>
