<h2>About Ekinops</h2>

<p>Ekinops is a leading provider of open, trusted and innovative network connectivity solutions to service providers around the world. Our programmable and highly scalable solutions enable the fast, flexible, and cost-effective deployment of new services for both high-speed, high-capacity optical transport as well as virtualization-enabled managed enterprise services.<p>

<p>Our product portfolio consists of three highly complementary product and service sets: EKINOPS360, OneAccess and Compose.<p>

<p>EKINOPS360 provides optical transport solutions for metro, regional and long-distance networks with WDM for high- capacity point-to-point, ring, and optical mesh architectures, and OTN for improved bandwidth utilization and efficient multi-service aggregation.<p>

<p>OneAccess offers a wide choice of physical and virtualized deployment options for Layer 2 and Layer 3 access network functions.<p>
	
<p>Compose supports service providers in making their networks software-defined with a variety of software management tools and services, including the scalable SD-WAN Xpress and SixSq Edge-to-Cloud solutions.<p>

<p>As service providers embrace SDN and NFV deployment models, Ekinops enables future-proofed deployment today, enabling operators to seamlessly migrate to an open, virtualized delivery model at a time of their choosing.<p>

<p>A global organization, Ekinops (EKI) - a public company traded on the Euronext Paris exchange operates on four continents.<p>
<br/>Name: Ekinops
<br/>ISIN code: FR0011466069
<br/>Ticker: EKI
<br/>Total number of shares: 26,648,049

<p>For more information, visit: <a href="https://www.ekinops.com">ekinops.com</a>.</p>