<h2>About SixSq</h2>

<p>SixSq’s active participation in numerous international edge and cloud initiatives has solidified its reputation as a leading European cloud and edge computing expert. The team, which consists of highly skilled software engineers, developers and system administrators, is based in Geneva, Switzerland, and em-braces the Swiss ideals of excellence, innovation and precision. The company provides the edge-to-cloud management platform Nuvla.io, which allows enterprises to deploy a secure and comprehensive edge and cloud strategy, including a marketplace of business applications. The NuvlaEdge software turns any x86 or ARM hardware platform into a smart edge device which customers use to deploy containerised retail, manufacturing, smart city and transport applications.</p>

<p>For more information, visit: <a href="https://sixsq.com">sixsq.com</a>.</p>
