<h2>About the Kudelski Group</h2>

<p>
The Kudelski Group is a world leader in digital security and a provider of end-to-end convergent media solutions, including services and applications requiring access control and rights management to secure the revenue in digital television, internet, mobile and interactive applications. The Group also offers cybersecurity solutions and services focused on helping companies assess risks and vulnerabilities and protect their data and systems. It also supplies integrated solutions to manage access control of people and vehicles to sites and events. The Kudelski Group is headquartered in Cheseaux-sur-Lausanne, Switzerland and Phoenix (AZ), USA.<p>

<p>For more information, please visit . <a href="www.nagra.com">nagra.com</a></p>
