<h2>About Varnish Software</h2>

<p>Varnish Software is the leading caching, streaming and content delivery software stack. Our software helps content providers of any size deliver lightning-fast, reliable, and high-quality web and streaming experiences for huge audiences. With over 10 million deployments, our technology is relied on by millions of websites worldwide across every industry including Hulu, Emirates and Tesla.<p>
	
 
<p>Varnish Software has offices in Los Angeles, New York City, London, Tokyo, Singapore, Stockholm, Oslo, Düsseldorf and Paris.<p>

<p>For more information, please visit <a href="https://www.varnish-software.com/ ">varnish-software.com</a></p>
