<div class="social-share">
  <a href="https://twitter.com/intent/tweet?original_referer={{ site.url }}&ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Eshare%7Ctwgr%5E&text={{ page.product-title }}&url={{ site.url }}{{ page.url }}&via=sixsq" target="_blank">
    <img src="/assets/img/icon-twitter-share.svg"/>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.product-title }}&summary=&source=" target="_blank">
    <img src="/assets/img/icon-linkedin-share.svg"/>
  </a>
</div>
