<form class="shadow bg-white">
    <h3>Start your free trial</h3>
    <div class="input-group"><input class="form-control" type="text" placeholder="First name" name="First name" required=""><input class="form-control" type="text" placeholder="Last name" name="Last name" required=""></div>
    <div class="input-group"><input class="form-control" type="text" placeholder="E-mail" name="E-mail" required=""></div>
    <div class="input-group"><input class="form-control" type="text" placeholder="Password" name="Password" required=""></div>
    <div class="input-group"><input class="form-control" type="text" placeholder="Confirm password" name="Confirm password" required=""></div>
    <div class="input-group input-group-submit"><button class="btn btn-secondary" type="submit">Sign up for Nuvla.io</button>
        <div class="input-group-text">
            <p>Sign up with<a href="#"><img src="/assets/img/icon-github.svg"></a><a href="#"><img src="/assets/img/icon-flux.svg"></a></p>
        </div>
    </div>
</form>
