<h2>They trust us</h2>
<div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
    <div class="carousel-inner">
      {% assign customers = site.customers | where: "testimonial", true %}
      {% for customer in customers %}
        {% include quote.html %}
      {% endfor %}
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
</div>
