<h2>They trust us</h2>
<div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div>
                <p class="testimonial-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="testimonial-author">Firstname Lastname</p>
                <p class="testimonial-jobtitle">Jobtitle</p><img class="testimonial-logo" src="/assets/img/logo-lenovo-quote.png">
            </div>
        </div>
        <div class="carousel-item">
            <div>
                <p class="testimonial-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="testimonial-author">Firstname Lastname</p>
                <p class="testimonial-jobtitle">Jobtitle</p><img class="testimonial-logo" src="/assets/img/logo-thales-quote.png">
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
</div>
