<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}
    {% include top-form-section.html %}

    <div class="container-fluid breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>

    <div class="container-fluid">
        <div class="container section text-center">
            <div id="products" class="anchor-position"></div>
            <h2>Meet the team!<br></h2>
            <div class="row row-col-feature row-col-feature-logo">
              {% for staff in site.staff %}
                 {% include staff.html %}
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="container bg-primary section-primary-box" style="background: url('/assets/img/bg-wave.png') right / cover no-repeat; margin-top: 0; margin-bottom: 4rem;">
        <div id="overview" class="anchor-position"></div>
        <div class="row">
            <div class="col-lg-5 primary-box-title">
                <h2 class="text-light"><strong>Where we come from</strong></h2>
                <p class="text-light text-big">SixSq was founded in August 2007. The company provides the edge-to-cloud management platform&nbsp;<a href="https://nuvla.io">Nuvla</a>, which allows companies and institutions to deploy a secure and comprehensive edge and cloud strategy, while avoiding lock-in.</p>
                <p class="text-light text-big">Following the acquisition of SixSq by&nbsp;<a href="https://ekinops.com/">Ekinops</a>&nbsp;in November 2021, SixSq is now an Ekinops Company.</p>
            </div>
            <div class="col-lg-7 primary-box-text">
                <p class="text-light">The&nbsp;<a href="/nuvlaedge">NuvlaEdge</a>&nbsp;software turns any x86 or ARM hardware platform into a smart edge device. Think of NuvlaEdge as the Linux or Windows of edge devices (in fact it is based on Linux). Nuvla also provides a Private App Store, with the same convenience as Apple’s App Store, but for deploying apps at the edge and in the cloud. As long as your app is containerised, you can deploy it with Nuvla, in a click! It’s as easy to use!<br></p>
                <p class="text-light">We believe Nuvla will accelerate AI deployment at the edge and take away management complexity, while giving you full control over your data.<br></p>
                <p class="text-light">Our customers use it to deploy&nbsp;<a href="/case-studies/transport">transport</a>,&nbsp;<a href="case-studies/retail">retail</a>,&nbsp;<a href="case-studies/manufacturing">manufacturing</a>&nbsp;applications, and more. What will you do with it?&nbsp;<a href="/contact#breadcrumbs">Let us know</a>.<br></p>
                <p class="text-light">Creating complex and sophisticated software and services like NuvlaEdge and Nuvla is not trivial. We pour all our passion and energy in writing the best software possible. We hope you’ll have as much fun using our products and services as we have creating them. If you do, please tell us, and if we’re not meeting you’re expectations, we’d really appreciate you share your thoughts.<br></p>
            </div>
        </div>
    </div>
    <div class="container section text-center" style="padding-top: 0; padding-bottom: 3rem;">
        <h2>In strategic partnership with<br></h2>
        <div class="logo-wrapper">
          {% for post in site.partners %}
            {% if post.top == true %}
              {% include partner.html %}
            {% endif %}
          {% endfor %}
        </div>
        <a class="btn btn-primary" role="button" href="/partners">All partners</a>
        <h2 class="title-seperation">Our app vendors<br></h2>
        <div class="logo-wrapper">
          {% for post in site.vendors %}
            {% if post.top == true %}
              {% include vendors.html %}
            {% endif %}
          {% endfor %}
        </div>
        <a class="btn btn-primary" role="button" href="/marketplace#app-vendors">More apps and vendors</a>
    </div>

    {% include footer.html %}
  </body>
</html>
