<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}
    {% include top-form-section-author.html %}

    <div class="container-fluid sticky-top breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>

    <div class="container-fluid">
        <div class="container section">
            <div id="blog" class="anchor-position"></div>
            <div class="row row-col-feature row-col-activities">
                {% assign posts = site.posts | where: "author", page.title %}
                {% for post in posts %}
                  {% include news-or-blog-card.html %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>
