<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}
    {% include top-form-section-news-or-blog.html %}

    <div class="container-fluid sticky-top breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>

    <div class="container-fluid">
        <div class="container section section-article">
            <div id="hardware" class="anchor-position"></div><img class="inline-image" src="/assets/img/{{ page.image }}">
            {{ page.content }}
            <div class="seperator-primary"></div>
            <h2>Contact<br></h2>
            {% if page.co-author-name %}
              <p>{{ page.co-author-name }}<br>{{ page.co-author-title }}<br>{{ page.co-author-mobile }}<br><a href="mailto:{{ page.co-author-email }}">{{ page.co-author-email }}</a><br></p>
            {% endif %}
            <p>{{ page.author-name }}<br>{{ page.author-title }}<br>{{ page.author-mobile }}<br><a href="mailto:{{ page.author-email }}">{{ page.author-email }}</a><br></p>
            {% include news-or-blog-social.html %}
            <br/>
            {% include article-about-sixsq.html %}
            {% if page.co-author-company %}
                {% include article-about-{{ page.co-author-company }}.html %}
            {% endif %}
        </div>
    </div>
    <div class="container-fluid bg-gray">
        <div class="container section">
            <div id="products" class="anchor-position"></div>
            <h2 class="text-center">Latest blog posts<br></h2>
            <div class="row row-col-feature row-col-activities">
                {% assign news = site.posts | where: "category", "blog" %}
                {% for post in news limit:3 %}
                  {% include news-or-blog-card.html %}
                {% endfor %}
            </div>
            <div class="text-center pt-3">
                <a class="btn btn-primary" role="button" href="{{ site.url }}{{ site.baseurl }}/news" target="_blank">Read all News</a>
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>
