<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    
    {% include top-form-section.html %}

    <div class="container-fluid breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>
    <div class="container-fluid">
        <div class="container section text-center">
            <div id="case-studies" class="anchor-position"></div>
            <h2><strong>SixSq in action, delivering positive outcome, at scale.</strong><br></h2>
            <div class="row row-col-feature row-col-activities">
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="activities-image-wrapper"><img src="/assets/img/usecases/usecase-infrastructure.jpg"></div>
                        <h3 class="text-primary">Transport</h3>
                        <p class="text-dark text-big">Lorem ipsum dolor sit amet, consectetur<br></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br></p><a class="btn btn-light" role="button" href="https://nuvla.io/" target="_blank">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="activities-image-wrapper"><img src="/assets/img/usecases/usecase-retail.jpg"></div>
                        <h3 class="text-primary">Retail</h3>
                        <p class="text-dark text-big">In-store (real-time) analytics<br></p>
                        <p>Deploying AI applications in stores narrows the gap between e-commerce and the in-store experience. Using Nuvla.io to deploy and manage those apps means you can focus on your customers and leave the tech to the techies.</p><a class="btn btn-light" role="button" href="/case-studies/retail">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="activities-image-wrapper"><img src="/assets/img/usecases/usecase-aerospace.jpg"></div>
                        <h3 class="text-primary">Manufacturing<br></h3>
                        <p class="text-dark text-big">Lorem ipsum dolor sit amet, consectetur<br></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><a class="btn btn-light" role="button" href="https://nuvla.io/" target="_blank">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid bg-gradient-gray text-center">
    <div class="container section">
      {% include they-trust-us.html %}
    </div>
</div>

    {% include footer.html %}
  </body>
</html>
