<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    
    {% include top-form-section.html %}

    <div class="container-fluid breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>
    <div class="container-fluid">
        <div class="container section text-center">
            <div id="case-studies" class="anchor-position"></div>
            <h2><strong>SixSq in action, delivering positive outcome, at scale.</strong><br></h2>
            <div class="row row-col-feature row-col-activities">
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="activities-image-wrapper"><img src="/assets/img/usecases/usecase-infrastructure.jpg"></div>
                        <h3 class="text-primary">Transport</h3>
                        <p class="text-dark text-big">Improving transportation with edge computing<br></p>
                        <p>Transport providers are facing a huge challenge. How can they improve customer experience, respond to sustainable development goals, increase efficiency and reduce costs?<br></p><a class="btn btn-light" role="button" href="/case-studies/transport">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="activities-image-wrapper"><img src="/assets/img/usecases/usecase-retail.jpg"></div>
                        <h3 class="text-primary">Retail</h3>
                        <p class="text-dark text-big">Data-driven decision making<br></p>
                        <p>Transform your business by deploying AI applications in stores to understand customer behaviour. Using Nuvla to deploy and manage those apps means you can focus on your customers and leave the tech to the techies.</p><a class="btn btn-light" role="button" href="/case-studies/retail">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="activities-image-wrapper"><img src="/assets/img/usecases/usecase-aerospace.jpg"></div>
                        <h3 class="text-primary">Manufacturing<br></h3>
                        <p class="text-dark text-big">Powering industrial transformation<br></p>
                        <p>Edge computing enables industrial manufacturers to efficiently connect and automate their production.  Using an array of innovative applications, businesses keep the finger on the pulse of their production processes.</p><a class="btn btn-light" role="button" href="/case-studies/manufacturing" target="_blank">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid bg-gradient-gray text-center">
    <div class="container section">
      {% include they-trust-us.html %}
    </div>
</div>

    {% include footer.html %}
  </body>
</html>
