<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    
    {% include top-form-section-blog.html %}

    <div class="container-fluid breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>
    <div class="container-fluid">
        <div class="container section text-center">
            <div id="case-studies" class="anchor-position"></div>
            <h2><strong>SixSq in action, delivering positive outcomes at scale.</strong><br></h2>
            <div class="row row-col-feature row-col-activities">
              {% for casestudy in site.casestudies %}
                {% include casestudy-card.html %}
              {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="container-fluid bg-gradient-gray text-center">
    <div class="container section">
      {% include they-trust-us.html %}
    </div>
</div>

    {% include footer.html %}
  </body>
</html>
