<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    
    {% include top-form-section.html %}

    <div class="container-fluid sticky-top breadcrumb-wrapper">
        {% include breadcrumbs.html %}
        {% include navbar.html %}
    </div>

    <div class="container bg-primary section-primary-box section-limited-width" style="background: url('assets/img/bg-wave.png') right / cover no-repeat; margin-bottom: 0;">
        <div id="overview" class="anchor-position"></div>
        <div class="row">
            <div class="col-lg-5 primary-box-title">
                <h2 class="text-light">Discover how Nuvla.io enables Retail, at the edge as a service</h2>
                <p class="text-light text-big">C2RO is a computer vision and AI solution company that connects the on-line and off-line worlds. Working closely with C2RO, SixSq has packaged their solution with NuvlaBox software and Nuvla.io to provide a product which helps retailers close the gap between e-commerce analytics and in-store analytics. </p>
            </div>
            <div class="col-lg-7 primary-box-text">
                <p class="text-light">This innovative solution includes a near real-time notification mechanism which notifies store staff when opted-in customers enter the store, providing customers with the personalised shopping experience they are looking for. Add this to real-time behaviour analytics and you start to level the playing field.<br></p>
                <p class="text-light">The&nbsp;<a href="https://piximate.net/en/home/">Piximate</a>&nbsp;software makes intensive use of video analytics software, including AI, for facial recognition. No personal data is stored on the people being filmed, making the solution compliant with data privacy legislation. Instead, the software automatically calculates a unique signature for identifying people and only that signature is stored.<br></p>
                <p class="text-light">Cameras are deployed at strategic points in the store and are connected to an edge device running the&nbsp;<a href="https://sixsq.com/products-and-services/nuvlabox/overview">NuvlaBox</a>&nbsp;software. The edge devices and the application software are deployed and managed through the&nbsp;<a href="https://sixsq.com/products-and-services/nuvla-io/overview">Nuvla.io</a>&nbsp;edge management platform.<br></p>
            </div>
        </div>
    </div>
    <div class="container section section-limited-width">
        <h2 class="text-center">Here’s how it works:<br></h2>
        <div class="img-wrapper text-center"><img class="border-light-gray" src="assets/img/nuvlaretail-real-time.png">
            <p id="d" class="caption-big text-dark">When a registered customer enters the store, relevant data is pulled from the company’s CRM. Sales staff can then approach the customer armed with name and purchase history, enabling a much more meaningful interaction with the client.</p>
        </div>
    </div>
    <div class="container-fluid bg-gray">
        <div class="container section text-center">
            <div id="features" class="anchor-position"></div>
            <h2>Main Top benefits for this customer<br></h2>
            <div class="row row-col-feature">
                {% for post in site.casestudies %}
                  {% if post.category == 'retail' %}
                    {% include feature.html %}
                  {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>
