<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    

    {% include top-form-section.html %}
    <div class="container bg-primary section section-straddle" style="background: url('/assets/img/bg-wave.png') right / cover no-repeat;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-light">The power of edge</h2>
                <p class="text-light">Understand the power of the edge with our comprehensive overview of industries and solutions.</p>
                <div class="row row-col-2-side row-col-side">
                    <div class="col-lg-6 col-xl-5 offset-xl-1"><img src="/assets/img/icon-edge-white.svg">
                        <h3 class="text-light">Edge knowledge base</h3>
                        <p class="text-light">Explore our comprehensive knowledge base explaining edge technology, ecosystem and capabilities. Find out how the edge can empower your business.</p><a class="btn btn-primary" role="button" href="/resources">Learn more</a>
                    </div>
                    <div class="col-lg-6 col-xl-5"><img src="/assets/img/icon-nuvla-white.svg">
                        <h3 class="text-light">Our solutions</h3>
                        <p class="text-light">Tailored solutions to meet a vast range of business use cases across retail, manufacturing and transportation. Our edge solutions scale to lower network cost, reduce latency and guarantee security.</p><a class="btn btn-primary" role="button" href="/products">Learn more</a>
                    </div>
                </div>
                <h3 class="text-light">Discover Nuvla.io</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/MlaRI3lrhrM" class="video-frame" width="100%"></iframe><a class="btn btn-secondary" role="button" href="https://nuvla.io/" style="margin-top: 30px;">Sign up for Nuvla</a></div>
        </div>
    </div>
    <div id="solutions" class="container section text-center">
        <h2>Edge Computing B2B SaaS<br></h2>
        <p>Learn about comprehensive yet simple edge solutions with SixSq. Build your future-proof and sustainable solution today.</p>
        <div class="row row-col-feature">
            <div class="col-lg-4">
                <div class="shadow"><img src="/assets/img/icon-platform-red.svg">
                    <h3>The platform</h3>
                    <p>Manage any containerised application across a fleet of edge devices and servers in the cloud. Control your edges as if they were on your desk, even if they are floating in the middle of the ocean.</p>
                    <a class="btn btn-light" role="button" href="/platform">All-in-one platform</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="shadow"><img src="/assets/img/icon-marketplace-red.svg">
                    <h3>The marketplace</h3>
                    <p>The marketplace and its app vendor programme springboard customers into adopting and deploying meaningful edge computing with minimum risk and a positive ROI.</p>
                    <a class="btn btn-light" role="button" href="/marketplace">Business-ready marketplace</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="shadow"><img src="/assets/img/icon-nuvla-red.svg">
                    <h3>The software</h3>
                    <p>NuvlaEdge software turns any ARM or x86 computer or virtual machine into a smart edge device, managed from the Nuvla platform. This software is open source, secure and installs in minutes.</p>
                    <a class="btn btn-light" role="button" href="/nuvlaedge">Discover our software</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container section text-center" style="padding-top: 0; padding-bottom: 3rem;">
        <h2>In strategic partnership with<br></h2>
        <div class="logo-wrapper">
          {% for post in site.partners %}
            {% if post.top == true %}
              {% include partner.html %}
            {% endif %}
          {% endfor %}
        </div>
        <a class="btn btn-primary" role="button" href="/partners">All partners</a>
        <h2 class="title-seperation">Our app vendors<br></h2>
        <div class="logo-wrapper">
          {% for post in site.vendors %}
            {% if post.top == true %}
              {% include vendors.html %}
            {% endif %}
          {% endfor %}
        </div>
        <a class="btn btn-primary" role="button" href="/marketplace#app-vendors">More apps and vendors</a>
    </div>
    <div class="container-fluid bg-gradient-gray">
        <div class="container section text-center">
            {% include they-trust-us.html %}
            <div class="logo-wrapper">
              {% for post in site.customers %}
                {% if post.top %}
                  {% include customer.html %}
                {% endif %}
              {% endfor %}
            </div>
            <a class="btn btn-primary" role="button" href="/customers">More customers</a>
        </div>
    </div>
    <div class="container-fluid bg-gray">
        <div class="container section">
            <h2 class="text-center">News and activities<br></h2>
            <div class="row row-col-feature row-col-activities">
                {% for post in site.posts limit:3 %}
                    {% include news-or-blog-card.html show-type = true %}
                {% endfor %}
            </div>
            <div class="text-center"><a class="btn btn-primary mt-4 mb-5" role="button" href="/resources">All news, blog and more</a></div>
          {% include newsletter-subscription.html %}
        </div>
    </div>
    {% include footer.html straddle-footer = true bg-gray = true %}
  </body>
</html>
