<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}
    {% include top-form-section.html %}

    <div class="container-fluid breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>

    <div class="container-fluid">
        <div class="container section text-center section-limited-width">
            <div id="products" class="anchor-position"></div>
            <div class="row row-col-feature row-col-feature-logo">
            {% for legal in site.legal %}
              {% if legal.show-as-card != false %}
                {% include legal-card.html %}
              {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    
    {% include footer.html %}
  </body>
</html>
