<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    

    {% include top-form-section.html %}
    <div class="container-fluid sticky-top breadcrumb-wrapper">
        {% include breadcrumbs.html %}
        {% include navbar.html %}
    </div>
    <div class="container bg-primary section-primary-box section-limited-width" style="background: url(&quot;assets/img/bg-wave.png&quot;) right / cover no-repeat; margin-bottom: 0;">
        <div id="overview" class="anchor-position"></div>
        <div class="row">
            <div class="col-lg-4 primary-box-title">
                <h2 class="text-light">What does NulvaEdge do?</h2>
            </div>
            <div class="col-lg-8 primary-box-text">
                <p class="text-light text-big">NuvlaEdge software turns any ARM or x86 single board computer into a smart edge device, managed from Nuvla.io.</p>
                <p class="text-light">The software is open source, secure and installs in minutes.</p>
            </div>
        </div>
    </div>
    <div class="container section text-center">
        <div id="features" class="anchor-position"></div>
        <h2>Main features<br></h2>
        <div class="row row-col-feature">
            {% for post in site.nuvlaedge %}
              {% if post.category == 'feature' %}
                {% if post.main-feature == true %}
                  {% include feature.html %}
                {% endif %}
              {% endif %}
            {% endfor %}
        </div><button class="btn btn-primary btn-collapse collapsed" type="button" data-bs-target="#all-features" data-bs-toggle="collapse" aria-controls="all-features" aria-expanded="false" style="margin-top: 30px;"><span class="btn-collapse-open">Discover all features</span><span class="btn-collapse-close">Show main features only</span></button>
        <div id="all-features" class="collapse" style="margin-top:2rem;">
            <div class="row row-col-feature">
              {% for post in site.nuvlaedge %}
                {% if post.category == 'feature' %}
                  {% if post.main-feature == true %}
                  {% else %}
                    {% include feature.html %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="container section-primary-box section-primary-box2 section-limited-width">
        <div id="techspecs" class="anchor-position"></div>
        <div class="row shadow">
            <div class="col-lg-4 primary-box-title bg-primary" style="background: url(&quot;assets/img/bg-wave3.png&quot;) right / cover no-repeat; margin-top: 0;">
                <h2 class="text-light">Tell me about the software?</h2>
            </div>
            <div class="col-lg-8 primary-box-text">
                <p class="text-big text-dark"><strong>The NuvlaEdge software is open source and maintained on <a href="https://github.com/nuvlabox">Github</a>.<br></strong></p>
                <p>You will also find detailed manual installation instructions on our <a href="https://docs.nuvla.io">documentation website</a>.</p>
                <p><strong>The NuvlaEdge software installs in minutes.</strong></p>
                <p>Its installation can also easily be industrialised, such that it can be rolled out at scale, from your factory. Get in touch to help you set this up for your application.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid section-straddle-top bg-gradient-gray">
        <div class="container section section-limited-width text-center">
            <div id="architecture" class="anchor-position"></div>
            <h2>NulvaEdge is made of micro-services<br></h2>
            <p class="text-big text-dark col-lg-6 offset-lg-3">The software needs as little as 100 MB of memory, leaving plenty of space for your apps to run, even on constrained devices.</p>
            <div class="title-underline"></div>
            <p>Here is a view of the different Docker micro-services included in the NuvlaEdge software, including the data-gateway, a Mosquitto MQTT broker, useful for apps to communicate with each other.</p>
            <div class="row">
                <div class="col-lg-10 offset-lg-1"><img src="assets/img/nuvlabox-detailed.png"></div>
            </div>
            <!-- <h2 class="title-seperation text-center">Become an Expert</h2>
            <p class="text-center subtitle">Created by this Cristóvão (Cris) Cordeiro, R&amp;D Project Manager at SixSq, this Youtube channel gives you all the detailed information needed to master Nuvla.io and created amazing edge-to-cloud solutions.</p><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/s0NQjTgmaU0" class="video-frame col-lg-10 offset-lg-1" width="100%"></iframe> -->
        </div>
    </div>
    <div class="container-fluid text-center bg-gray">
        <div class="container section text-center">
            <div id="hardware" class="anchor-position"></div>
            <h2>Hardware to transform into NulvaEdge<br></h2>
            <p class="text-big text-dark col-lg-6 offset-lg-3">The NuvlaEdge software runs on most single board computers, both x86 and ARM architectures.</p>
            <div class="title-underline"></div>
            <p>The manufacturers below provide edge hardware already certified to run the NuvlaEdge software.</p>
            <div class="row row-col-feature row-col-feature-logo">
              {% for post in site.nuvlaedge %}
                {% if post.category == 'hardware' %}
                  {% include hardware.html %}
                {% endif %}
              {% endfor %}
            </div>
            <p class="text-dark col-lg-6 offset-lg-3 text-cta">Have different hardware? Get in touch, chances are that it’ll work right out of the box. And we’ll be happy to help you with certification.</p><a class="btn btn-primary" role="button" href="#" target="_blank">Contact us</a>
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>
