<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}
    {% include top-form-section.html %}

    <div class="container-fluid sticky-top breadcrumb-wrapper">
        {% include breadcrumbs.html %}
        {% include navbar.html %}
    </div>
    <div class="container bg-primary section-primary-box section-limited-width" style="background: url('/assets/img/bg-wave.png') right / cover no-repeat; margin-bottom: 0;">
        <div id="overview" class="anchor-position"></div>
        <div class="row">
            <div class="col">
                <h2 class="text-light"><strong>Create your own edge-to-cloud solution in minutes with the Nuvla.io platform</strong></h2>
                <p class="text-light text-big">This platform is application centric, hardware agnostic, cloud neutral and container native.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container section text-center">
            <div id="features" class="anchor-position"></div>
            <h2>Main features<br></h2>
            <div class="row row-col-feature">
                {% for post in site.platform %}
                  {% if post.category == 'feature' %}
                    {% if post.main-feature == true %}
                      {% include feature.html %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </div>
            <div id="all-features" class="collapse" style="">
                <div class="row row-col-feature">
                  {% for post in site.platform %}
                    {% if post.category == 'feature' %}
                      {% if post.main-feature == true %}
                      {% else %}
                        {% include feature.html %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
            <button class="btn btn-primary btn-collapse collapsed" type="button" data-bs-target="#all-features" data-bs-toggle="collapse" aria-controls="all-features" aria-expanded="false" style="margin-top: 30px;">
              <span class="btn-collapse-open">Discover all features</span>
              <span class="btn-collapse-close">Show main features only</span>
            </button>
        </div>
    </div>
    <div class="container section-primary-box section-primary-box2 section-limited-width">
        <div id="techspecs" class="anchor-position"></div>
        <div class="row shadow">
            <div class="col-lg-4 primary-box-title bg-primary" style="background: url('/assets/img/bg-wave3.png') right / cover no-repeat; margin-top: 0;">
                <h2 class="text-light">How does Nuvla.io work?</h2>
            </div>
            <div class="col-lg-8 primary-box-text">
                <p class="text-big text-dark">
                  <strong>The Nuvla.io platform is a B2B PaaS, providing a turnkey solution for managing edge devices and apps, across the IoT-edge-cloud continuum.
                <p>You will find detailed information on our <a href="https://docs.nuvla.io" target="_blank"><strong>documentation website</strong></a>.</p>
                <p>For on-premise deployment of Nuvla.io,&nbsp;<a href="/contact#breadcrumbs">get in touch</a>.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid section-straddle-top bg-gradient-gray">
        <div class="container section section-limited-width text-center">
            <div id="architecture" class="anchor-position"></div>
            <h2>Set up Nuvla.io in minutes and deploy apps in seconds<br></h2>
            <p class="text-big text-dark col-lg-6 offset-lg-3">Nuvla.io works hand in hand with devices, servers and virtual machines running <a href="/nuvlaedge">NuvlaEdge</a> software.</p>
            <div class="title-underline"></div>
            <p class="text-big text-dark col-lg-6 offset-lg-3">Apps can be deployed from the <a href="/marketplace">marketplace</a> or your private app store, in seconds.</p>
            <div class="row mt-5 mb-2">
                <div class="col-lg-10 offset-lg-1"><img src="/assets/img/nuvla-diagram.png" alt="Nuvla diagram"></div>
            </div>
            <br/>
            <div class="row row-col-feature row-col-feature-logo">
                <div class="col">
                    <div class="notes">
                        <h3>Notes</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ol>
                                    <li>Once activated, NuvlaEdge-powered devices securely connect to the Nuvla platform, providing telemetry and full visibility of the devices, including connected peripherals (e.g. local network, cameras, machines/robots, sound/vibration sensors, cell tower).</li>
                                    <li>Accelerators such as GPUs are also automatically discovered and exposed to containerised apps.</li>
                                    <li>No user data goes through the Nuvla platform, ensuring complete data sovereignty.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>
