<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    
    {% include top-form-section.html %}

    <div class="container-fluid sticky-top breadcrumb-wrapper">
        {% include breadcrumbs.html %}
        {% include navbar.html %}
    </div>

    <div class="container section container-box2">
        <div id="edge" class="anchor-position"></div>
        <h2 class="section-heading">Edge device management<br></h2>
        <div class="container section-primary-box section-primary-box2 section-limited-width">
            <div class="row shadow">
                <div class="col-lg-4 primary-box-title bg-primary text-center" style="background: url('/assets/img/bg-wave3.png') right / cover no-repeat; margin-top: 0;">
                    <p class="text-big text-light"><strong>Starting from<br></strong></p>
                    <p class="text-light text-huge">€2</p>
                    <p class="text-big text-light"><strong>per device / month*<br></strong></p>
                    <p class="text-light">*with the Starship subscription plan.</p>
                </div>
                <div class="col-lg-8 primary-box-text">
                    <p class="text-big text-dark"><strong>The Nuvla pricing is simple and predictable.<br></strong></p>
                    <p>You start with a 14-day free trial, during which you benefit from our Bronze Support service and a 100% discount on edge costs in Nuvla (note: paying apps are not free during the trial period). After that, you pay-as-you-go for the resources you consume, without commitment. You can also purchase a yearly plan to dramatically reduce the price per unit per month. You can upgrade your plan at any time.<br></p>
                    <a class="btn btn-primary" role="button" href="/download/pricing/Nuvla-io-pricing-2022-v1.1.pdf">Price list with examples</a>
                </div>
            </div>
        </div>
        <div class="img-wrapper text-center"><img src="/assets/img/pricing-edge-dashboard.png">
            <p class="caption">Nuvla dashboard screenshot</p>
        </div>
    </div>
    <div id="pay-as-you-go" class="anchor-position"></div>
    <div class="container-fluid bg-gray">
        <div class="container section">
            <h2 class="text-center">Pay-as-you-go with and without subscription plan<br></h2>
            <p class="text-center subtitle">We measure the number of devices running &nbsp;<a href="/nuvlaedge">NuvlaEdge</a>&nbsp;software and invoice you monthly accordingly. As your fleet of edge devices grows, you can reduce your monthly device costs dramatically by adopting one of our subscription plans, giving you a path to growth that is simple, predictable and sustainable. You can upgrade your subscription plan at any time. Just get in touch with our <a href="mailto:sales@sixsq.com">sales team</a>.</p>
            <div class="row row-col-feature row-col-price text-center">
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="price-name"><img src="/assets/img/icon-pricing-airplane.svg">
                            <h3><strong>Airplane</strong><br></h3>
                            <p>No commitment, start in minutes, maximum flexibility<br></p>
                        </div>
                        <div class="price-box">
                            <p>Pay-as-you-go:</p>
                            <p class="price-label">€ 50.00</p>
                            <p>per device per month</p>
                        </div>
                        <div class="price-suggestion">
                            <p>Best for up to 47 devices</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="price-name"><img src="/assets/img/icon-pricing-rocket.svg">
                            <h3><strong>Rocket</strong><br></h3>
                            <p>Yearly subscription plan:<br></p>
                            <p class="price-label">€ 25,000</p><img class="price-plus" src="/assets/img/icon-plus-red.svg">
                        </div>
                        <div class="price-box">
                            <p>Pay-as-you-go:</p>
                            <p class="price-label">€ 6.00</p>
                            <p>per device per month</p>
                        </div>
                        <div class="price-suggestion">
                            <p>Best from 47 devices</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shadow">
                        <div class="price-name"><img src="/assets/img/icon-pricing-starship.svg">
                            <h3><strong>Starship</strong><br></h3>
                            <p>Yearly subscription plan:<br></p>
                            <p class="price-label">€ 100,000</p><img class="price-plus" src="/assets/img/icon-plus-red.svg">
                        </div>
                        <div class="price-box">
                            <p>Pay-as-you-go:</p>
                            <p class="price-label">€ 2.00</p>
                            <p>per device per month</p>
                        </div>
                        <div class="price-suggestion">
                            <p>Best from 1500 devices</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-col-feature row-col-feature-logo">
                <div class="col">
                    <div class="notes">
                        <h3>Notes</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <ol>
                                    <li>Free 14-day trial available.</li>
                                    <li>Bronze support included (refer to SLA in&nbsp;<a href="/legal/legal-general-terms-and-conditions.html">terms</a>).</li>
                                    <li>For Silver and Gold support, please <a href="mailto:sales@sixsq.com">contact us</a>.</li>
                                    <li>One VPN client credential included per registered user.</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <ol start="5">
                                    <li>An edge device is a computer running the NuvlaEdge software.</li>
                                    <li>We do not provide hardware and no hardware cost is included in this pricing.</li>
                                    <li>Only active devices metered (e.g. no charge while devices in storage or in transit).</li>
                                    <li>The subscription plan gives you access to reduced pay-as-you-go pricing.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="marketplace" class="anchor-position"></div>
        <div class="container section">
            <div class="row simple-row">
                <div class="col-lg-4 text-center" style="padding: 15px 0 30px 0;"><img src="/assets/img/marketplace-pricing-app-example.png">
                    <p class="caption">Nuvla marketplace BlackBox app screenshot</p>
                </div>
                <div class="col-lg-8">
                    <h2>App store and marketplace</h2>
                    <p class="text-big text-dark" style="padding-top: 1rem;"><strong>Choose between free and paying apps<br></strong></p>
                    <p style="padding-bottom: 1rem;">App vendors sell specialised apps on the Nuvla marketplace. If you are an app vendor, this is the simplest way to have your customers deploy your apps and generate revenue. If you are a customer, the marketplace is there to help you find the right apps. You can also capture your own apps or take advantage of the myriad of Docker images available online.<br></p>
                    <div class="notes">
                        <h3>Advantages:</h3>
                        <ol>
                            <li>Your own apps are free.</li>
                            <li>You only pay for deployed apps, calculated daily and invoiced monthly.</li>
                            <li>You have one day to try apps before metering starts.</li>
                            <li>App vendors can offer discounts in the form of coupons for yearly (or longer) commitments, or promotions.</li>
                            <li>App vendors are free to set their own price.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>
