<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    
    {% include top-form-section.html %}

    <div class="container-fluid breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>
    <div class="container bg-primary section section-straddle" style="background: url('/assets/img/bg-wave.png') right / cover no-repeat; margin-top: 3rem;">
        <div id="overview" class="anchor-position"></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-light"><strong>The power of edge</strong></h2>
                <p class="text-light subtitle">Create your own powerful edge-to-cloud solution and unlock all the value in your data.</p>
            </div>
        </div>
    </div>
    <div class="container section" style="padding-top: 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                      <iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/08BMrtTCSkU" class="video-frame" width="100%"></iframe>
                      <a class="btn btn-secondary" role="button" href="https://nuvla.io/" target="_blank" style="margin-top: 30px;">Sign up for Nuvla</a></div>
                </div>
            </div>
    </div>
    <div class="container-fluid bg-gray">
        <div class="container section text-center">
            <div id="products" class="anchor-position"></div>
            <h2>Discover our products</h2>
            <div id="overview" class="anchor-position"></div>
            <div class="row row-col-feature">
                <!-- <div class="col-lg-6">
                    <div class="shadow"><img src="/assets/img/icon-ecosystem.svg">
                        <h3>Nuvla Ecosystem</h3>
                        <p>The Nuvla ecosystem is a set of powerful products and services designed by SixSq to work together in a seamless way. Discover in a few minutes how the ecosystem works for you to deliver a simple, yet future proof solution.</p><a class="btn btn-light" role="button" href="https://nuvla.io/">Learn more</a>
                    </div>
                </div> -->
                <div class="col-lg-4">
                    <div class="shadow"><img src="/assets/img/icon-platform-red.svg">
                        <h3>Nuvla Platform</h3>
                        <p>Manage any containerised application across a fleet of edge devices and container-orchestration engines in the cloud. Manage your edges as if they were on your desk, even if they are floating in the ocean.</p><a class="btn btn-light" role="button" href="/platform">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shadow"><img src="/assets/img/icon-marketplace-red.svg">
                        <h3>Nuvla Marketplace</h3>
                        <p>The marketplace and its app vendor programme springboards customers into adopting and deploying meaningful edge computing with minimum risk and a positive ROI.</p><a class="btn btn-light" role="button" href="/marketplace">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shadow"><img src="/assets/img/icon-nuvla-red.svg">
                        <h3>NuvlaEdge</h3>
                        <p>The NuvlaEdge software transforms any computer into a smart edge device, securely managed from Nuvla. The software is hardware agnostic, includes a data management solution, and a wealth of sensor peripherals.</p><a class="btn btn-light" role="button" href="/nuvlaedge">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>
