<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}    
    {% include top-form-section.html %}

    <div class="container-fluid sticky-top breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>
    <div class="container-fluid">
        <div class="container section text-center">
            <h2>The power of Edge<br></h2>
            <p>Understand the power fo the Edge with our comprehensive overview of the industry and solutions.</p>
            <div id="overview" class="anchor-position"></div>
            <div class="row row-col-feature">
                <div class="col-lg-6">
                    <div class="shadow"><img src="assets/img/icon-ecosystem.svg">
                        <h3>Nuvla Ecosystem</h3>
                        <p>The Nuvla ecosystem is a set of powerful products and services designed by SixSq to work together in a seamless way. Discover in a few minutes how the ecosystem works for you to deliver a simple, yet future proof solution.</p><a class="btn btn-light" role="button" href="https://nuvla.io/" target="_blank">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shadow"><img src="assets/img/icon-platform-red.svg">
                        <h3>Nuvla Platform</h3>
                        <p>Manage any containerised application across a fleet of edge devices and container orchestration engines in the cloud. Manage your edges as if they were on your desk, even if they are floating in the ocean or orbiting the Earth.</p><a class="btn btn-light" role="button" href="Platform">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shadow"><img src="assets/img/icon-marketplace-red.svg">
                        <h3>Nuvla Marketplace</h3>
                        <p>The Marketplace and its App Vendor Programme springboards customers into adopting and deploying meaningful edge computing with minimum risk and a positive ROI.</p><a class="btn btn-light" role="button" href="Marketplace">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shadow"><img src="assets/img/icon-nuvla-red.svg">
                        <h3>NuvlaEdge</h3>
                        <p>The NuvlaEdge software transforms any computer into a smart edge device, securely managed from Nuvla. The software is hardware agnostic, includes a data management solution, and a wealth of sensor peripherals.</p><a class="btn btn-light" role="button" href="nuvlaedge">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>
