<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="double-menu" data-bs-spy="scroll" data-bs-target="#anchor-nav-menu">
    {% include header.html %}
    {% include top-form-section.html %}

    <div class="container-fluid sticky-top breadcrumb-wrapper">
        {% include breadcrumbs.html %}
    </div>
    <div class="container-fluid">
        <div class="container section">
            <div id="products" class="anchor-position"></div>
            <h2 class="text-center">Our Discover Channel<br></h2>
            <div class="row row-col-feature-logo row-col-feature">
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/MlaRI3lrhrM" class="video-frame" width="100%"></iframe></div>
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/l8XD8bHceOY" class="video-frame" width="100%"></iframe></div>
            </div>
            <div class="row row-col-feature-logo row-col-feature">
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/yYJ6laT_6M4" class="video-frame" width="100%"></iframe></div>
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/BHzbEDzyfnQ" class="video-frame" width="100%"></iframe></div>
            </div>
            <div class="row row-col-feature-logo row-col-feature">
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/FiIeMVAiFV8" class="video-frame" width="100%"></iframe></div>
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/Y8TjUnMfK3g" class="video-frame" width="100%"></iframe></div>
            </div>
            <div class="row row-col-feature-logo row-col-feature">
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/1V4x7yz82VU" class="video-frame" width="100%"></iframe></div>
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/k2scM2-KJrw" class="video-frame" width="100%"></iframe></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center"><a class="btn btn-primary" role="button" href="https://www.youtube.com/channel/UCGYw3n7c-QsDtsVH32By1-g" target="_blank">Watch on YouTube</a></div>
            </div>
        </div>
    </div>

    {% include footer.html they-trust-us = false %}
  </body>
</html>
